.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

.container h1 {
  font-size: 3rem;
  margin-top: 5rem;
}

.container h2 {
  font-size: 2rem;
  padding: 1rem;
}

.form {
  width: 90%;
  height: auto;
  padding: 5rem;
  border-radius: 20px;
  margin-top: 50px;
  background-color: #131313;
  margin-bottom: 185px;
}

.containerForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.containerForm h2 {
  text-align: center;
  padding: 2rem;
  color: #5fa1f7;
}

.containerForm label {
  display: inline-block;
  width: 131px;
  font-size: 1rem;
  font-weight: bold;
  padding: 1.5rem;
  color: #6a98ce;
}

.containerForm input,
.containerForm select {
  width: 150px;
  height: 30px;
  border-radius: 5px;
  border: none;
  padding: 2% 3%;
  cursor: pointer;
}

.buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}

.buttons button {
  width: 250px;
  height: 30px;
  color: #ffffff;
  background-color: #75a9d9;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  margin-left: 5px;
  cursor: pointer;
}

.buttons button:hover {
  background-color: #0c71cf;
}

.removed {
  font-size: 1rem;
  color: #ffffff;
  background-color: #552020;
  border: none;
  border-radius: 8px;
  width: 100px;
  height: 30px;
}

.removed:hover {
  background-color: #420202;
}

.list {
  width: 90%;
  height: auto;
  padding: 5rem;
  border-radius: 20px;
  margin-top: 150px;
  background-color: #131313;
  margin-bottom: 185px;
  color: #ffffff;
  padding: 2rem;
  list-style-type: none;
}

li {
  border: 1px solid #ffffff;
  padding: 2rem;
  margin: 20px 0;
  border-radius: 5px;
}

strong {
  line-height: 2rem;
  margin: 5px;
  font-size: 1.2rem;
}

.buttonComplete button {
  border: none;
  border-radius: 8px;
  width: 230px;
  height: 40px;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 84px;
  cursor: pointer;
}

.back {
  background-color: #551007;
  color: #ffffff;
}

.finish {
  background-color: #175507;
  color: #ffffff;
}

@media (min-width: 700px) {
  .form {
    width: 600px;
  }

  .list {
    width: 600px;
  }

  .buttonComplete {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .back {
    margin-right: 50px;
  }
}
