* {
  font-family: "Barlow", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

::placeholder {
  color: #000000;
}

body {
  background: linear-gradient(rgb(117, 169, 217, 46%), rgb(0, 0, 0, 63%));
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}
